<div class="bg-dark text-light pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>HELP</h4>
                <ul class="list-unstyled">
                    <li>Payments</li>
                    <li>Shipping</li>
                    <li>FAQ</li>
                    <li>Cancellation & Returns</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>ABOUT</h4>
                <ul class="list-unstyled">
                    <li>About Us</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>SOCIAL</h4>
                <ul class="list-unstyled">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center text-light py-3">
        <p>&copy; MealHouse</p>
    </div>
</div>